body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:459px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:28px;
  width:662px;
  height:459px;
  display:flex;
}
#u745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:148px;
  width:64px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:126px;
  width:85px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:187px;
  width:85px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u748_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:148px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:126px;
  width:85px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:187px;
  width:85px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:297px;
  width:64px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:305px;
  width:39px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:185px;
  width:0px;
  height:0px;
}
#u754_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:53px;
  width:114px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:316px;
  width:0px;
  height:0px;
}
#u755_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:84px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:167px;
  width:0px;
  height:0px;
}
#u756_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-19px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(39.8055710922652deg);
  -moz-transform:rotate(39.8055710922652deg);
  -ms-transform:rotate(39.8055710922652deg);
  transform:rotate(39.8055710922652deg);
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:185px;
  width:0px;
  height:0px;
}
#u757_seg0 {
  border-width:0px;
  position:absolute;
  left:-302px;
  top:53px;
  width:314px;
  height:6px;
  -webkit-transform:rotate(-21.0507036983439deg);
  -moz-transform:rotate(-21.0507036983439deg);
  -ms-transform:rotate(-21.0507036983439deg);
  transform:rotate(-21.0507036983439deg);
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:167px;
  width:0px;
  height:0px;
}
#u758_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-19px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(135.939190945736deg);
  -moz-transform:rotate(135.939190945736deg);
  -ms-transform:rotate(135.939190945736deg);
  transform:rotate(135.939190945736deg);
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:297px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:305px;
  width:39px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:316px;
  width:0px;
  height:0px;
}
#u761_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:62px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:316px;
  width:0px;
  height:0px;
}
#u762_seg0 {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:-2px;
  width:196px;
  height:4px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:185px;
  width:0px;
  height:0px;
}
#u763_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:53px;
  width:314px;
  height:6px;
  -webkit-transform:rotate(-158.949296301656deg);
  -moz-transform:rotate(-158.949296301656deg);
  -ms-transform:rotate(-158.949296301656deg);
  transform:rotate(-158.949296301656deg);
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:185px;
  width:0px;
  height:0px;
}
#u764_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:53px;
  width:112px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:167px;
  width:0px;
  height:0px;
}
#u765_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:11px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(-40.7321066997092deg);
  -moz-transform:rotate(-40.7321066997092deg);
  -ms-transform:rotate(-40.7321066997092deg);
  transform:rotate(-40.7321066997092deg);
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:167px;
  width:0px;
  height:0px;
}
#u766_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:11px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:62px;
  width:504px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:419px;
  width:280px;
  height:32px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:334px;
  width:0px;
  height:0px;
}
#u769_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:40px;
  width:88px;
  height:6px;
  -webkit-transform:rotate(-81.3044971225752deg);
  -moz-transform:rotate(-81.3044971225752deg);
  -ms-transform:rotate(-81.3044971225752deg);
  transform:rotate(-81.3044971225752deg);
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
